# See also:
# - Compose file reference: https://docs.docker.com/compose/compose-file/

version: '2'

services:
  myjenkins:
    # image: jenkins:latest
    build: myjenkins
    ports:
      - "9080:8080"
      - "51000:50000"
    # tty: true
    # privileged: true
    network_mode: "bridge"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # build-yocto-slave:
  #   image: gmacario/build-yocto:latest
  #   user: jenkins
  #   entrypoint: ""
  #   command: "java -jar /usr/share/jenkins/slave.jar -jnlpUrl http://master:8080/computer/build-yocto-slave/slave-agent.jnlp"
  #   links:
  #     - myjenkins:master
  #   volumes:
  #     - data:/home/jenkins

# volumes:
#   data:
#   downloads:
#   sstate-cache:

# EOF
